<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<table>
    <tr>
        <th>Id</th>
        <th>Username</th>
        <th>age</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.getId()}"></td>
        <td th:text="${user.getUsername()}"></td>
        <td th:text="${user.getAge()}"></td>
        <td>
            <form action="/admin/delete" method="post">
                <input type="hidden" name="id" th:value="${user.getId()}">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
</table>
<form action="/admin" method="get">
    <button type="submit">Back</button>
</form>
</body>
</html>