<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<table>
    <tr>
        <th>username</th>
        <th>age</th>
    </tr>
    <tr>
        <td th:text="${user.getUsername()}"></td>
        <td th:text="${user.getAge()}"></td>
        <td>
            <form action="/user/delete" method="post">
                <input type="hidden" name="id" th:value="${user.getId()}">
                <button type="submit">Delete</button>
            </form>
        </td>
        <td>
            <form action="/user/update" method="get">
                <input type="hidden" name="id" th:value="${user.getId()}">
                <button type="submit">Update</button>
            </form>
        </td>
    </tr>
</table>
<form action="/logout" method="get">
    <button type="submit">logout</button>
</form>
</body>
</html>